__pycache__/
.vscode/
.env
*.db


#skip uploaded images
static/uploads/sign/*
static/uploads/photo/*
static/uploads/verify_temp/*

#keep empty folders
!static/uploads/signatures/.gitkeep
!static/uploads/photos/.gitkeep
!static/uploads/verify_temp/.gitkeep

